<header>
  <h1>Transferencias</h1>
</header>

<a class='btn btn-primary' href='/nueva-transferencia'>Nueva transferencia</a>
<hr />
<div id='transferencias' class='container py-4 px-lg-4 text-center'></div>
<hr />
<script defer type='module' src='/js/home.js'></script>