<header>
  <h1>Fidelis Global Bank</h1>
  <h6>Impulsa tus Sueños, Financia tu Éxito</h6>
</header>

<form id='login-form'>
  <h3>Inicia Sesion</h3>
  <input id='email' type='text' placeholder='correo' />
  <input id='contrasena' type='password' placeholder='contraseña' />
  <button class='btn btn-primary' type='submit'>Iniciar sesion</button>
  <p>No tienes una cuenta? <a href='/auth/signup'>Registrate aqui</a></p>
</form>
<script defer src='/js/login.js'></script>